Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = pd.Series([4,8,15,16,23,42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
import pandas as pd

lst = [1,2,3,4,5,6,7,8,9,10]
data1 = pd.Series(lst)
print(data1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name Alice Bob Claire

Age 25 30 27

Gender Female Male Female

Then, print the DataFrame.

In [4]:
import pandas as pd

data2 = {"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
t1 = pd.DataFrame(data2)
print(t1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

* It is a two-dimensional tabular data structure that consists of rows and columns. It is similar to a table in a relational database or a spreadsheet.

* On the other hand, a Series is a one-dimensional labeled array in Pandas.

In [5]:
# For example:

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

ages = pd.Series([25, 30, 27])

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?



Some commonly used functions:

    head():Returns the first n rows of the DataFrame. It is useful for quickly inspecting the data.

df.head(5) # Returns the first 5 rows of the DataFrame

    tail(): Returns the last n rows of the DataFrame. It is useful for quickly checking the end of the data.

df.tail(3) # Returns the last 3 rows of the DataFrame

    drop(): Removes specified rows or columns from the DataFrame.

df.drop(columns=['Gender']) # Drops the 'Gender' column from the DataFrame

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

* Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])

ages = pd.Series([25, 30, 27])

genders = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female